In [1]:
import pandas as pd
salary_df_path ='C:/Users/Neo4ever/Desktop/da_salary/DataAnalyst.csv' #downloaded form kaggle
salary_df= pd.read_csv(salary_df_path)
salary_df.shape

(2253, 16)

In [2]:
# salary parsing
salary_df_v1 = salary_df.iloc[:1001]

salary_df_v1.columns
salary_df_v1=salary_df_v1.sort_values(by='Rating', ascending=False)

salary_df_v1.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
833,833,Data Analyst Junior,$42K-$76K (Glassdoor est.),Job Description\nJob description\nInterpret da...,5.0,"Staffigo Technical Services, LLC\n5.0","Chicago, IL","Woodridge, IL",51 to 200 employees,2008,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
505,505,Junior Data Analyst,$30K-$54K (Glassdoor est.),Job Description\nJob description\nInterpret da...,5.0,"Staffigo Technical Services, LLC\n5.0","Gainesville, FL","Woodridge, IL",51 to 200 employees,2008,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
925,925,Data Warehouse Analyst,$47K-$76K (Glassdoor est.),Job description:\nWorking within IT to transla...,5.0,Purity Technology LLC\n5.0,"Houston, TX","Cypress, TX",1 to 50 employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,-1
356,356,Quantitative Data Analyst/Developer,$77K-$132K (Glassdoor est.),Job Description Quantitative Data Analyst/Deve...,5.0,Creative Data Resources\n5.0,"New York, NY","New York, NY",1 to 50 employees,1992,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,-1
510,510,Data Analyst Junior,$30K-$54K (Glassdoor est.),Job Description\nJob description\nInterpret da...,5.0,"Staffigo Technical Services, LLC\n5.0","Gainesville, FL","Woodridge, IL",51 to 200 employees,2008,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),-1,-1

In [3]:
salary_df_v1['Salary Estimate'].value_counts()

$43K-$76K (Glassdoor est.)      31
$42K-$76K (Glassdoor est.)      30
$51K-$87K (Glassdoor est.)      30
$46K-$87K (Glassdoor est.)      30
$51K-$88K (Glassdoor est.)      30
$37K-$66K (Glassdoor est.)      30
$60K-$66K (Glassdoor est.)      30
$42K-$66K (Glassdoor est.)      30
$98K-$114K (Glassdoor est.)     30
$27K-$52K (Glassdoor est.)      30
$97K-$129K (Glassdoor est.)     30
$43K-$69K (Glassdoor est.)      30
$60K-$110K (Glassdoor est.)     30
$59K-$85K (Glassdoor est.)      30
$26K-$47K (Glassdoor est.)      29
$41K-$78K (Glassdoor est.)      29
$37K-$70K (Glassdoor est.)      29
$53K-$94K (Glassdoor est.)      29
$57K-$103K (Glassdoor est.)     29
$113K-$132K (Glassdoor est.)    29
$29K-$38K (Glassdoor est.)      29
$65K-$81K (Glassdoor est.)      29
$67K-$92K (Glassdoor est.)      29
$73K-$82K (Glassdoor est.)      29
$77K-$132K (Glassdoor est.)     29
$55K-$103K (Glassdoor est.)     29
$47K-$76K (Glassdoor est.)      28
$74K-$123K (Glassdoor est.)     28
$35K-$45K (Glassdoor est.)      28
$42K-$74K (Glassdoor est.)      27
$48K-$96K (Glassdoor est.)      22
$84K-$90K (Glassdoor est.)      18
$49K-$112K (Glassdoor est.)     18
$68K-$87K (Glassdoor est.)      16
$73K-$127K (Glassdoor est.)     14
$45K-$88K (Glassdoor est.)      11
$30K-$54K (Glassdoor est.)       8
$31K-$59K (Glassdoor est.)       4
$42K-$63K (Glassdoor est.)       4
$47K-$81K (Glassdoor est.)       3
$46K-$102K (Glassdoor est.)      3
Name: Salary Estimate, dtype: int64

In [4]:
salary=salary_df_v1['Salary Estimate'].apply(lambda x: x.split('(')[0])

In [5]:
salary.head()

833     $42K-$76K
505     $30K-$54K
925     $47K-$76K
356    $77K-$132K
510     $30K-$54K
Name: Salary Estimate, dtype: object

In [6]:
salary.shape

(1001,)

In [7]:
salary_clean=salary.apply(lambda x: x.replace('$','').replace('K',''))

In [8]:
salary_clean.value_counts()

43-76       31
98-114      30
42-66       30
60-110      30
42-76       30
60-66       30
59-85       30
27-52       30
46-87       30
51-87       30
97-129      30
51-88       30
43-69       30
37-66       30
37-70       29
53-94       29
77-132      29
67-92       29
26-47       29
55-103      29
73-82       29
65-81       29
113-132     29
29-38       29
41-78       29
57-103      29
35-45       28
47-76       28
74-123      28
42-74       27
48-96       22
49-112      18
84-90       18
68-87       16
73-127      14
45-88       11
30-54        8
42-63        4
31-59        4
47-81        3
46-102       3
Name: Salary Estimate, dtype: int64

In [9]:
salary_df_v1['min_salary']=salary_clean.apply(lambda x: int(x.split('-')[0]))
salary_df_v1['max_salary']=salary_clean.apply(lambda x: int(x.split('-')[1]))

In [10]:
salary_df_v1['avg_clean']=(salary_df_v1.min_salary+salary_df_v1.max_salary)/2

In [11]:
salary_df_v1.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,min_salary,max_salary,avg_clean
833,833,Data Analyst Junior,$42K-$76K (Glassdoor est.),Job Description\nJob description\nInterpret da...,5.0,"Staffigo Technical Services, LLC\n5.0","Chicago, IL","Woodridge, IL",51 to 200 employees,2008,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),-1,-1,42,76,59.0
505,505,Junior Data Analyst,$30K-$54K (Glassdoor est.),Job Description\nJob description\nInterpret da...,5.0,"Staffigo Technical Services, LLC\n5.0","Gainesville, FL","Woodridge, IL",51 to 200 employees,2008,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),-1,-1,30,54,42.0
925,925,Data Warehouse Analyst,$47K-$76K (Glassdoor est.),Job description:\nWorking within IT to transla...,5.0,Purity Technology LLC\n5.0,"Houston, TX","Cypress, TX",1 to 50 employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,-1,47,76,61.5
356,356,Quantitative Data Analyst/Developer,$77K-$132K (Glassdoor est.),Job Description Quantitative Data Analyst/Deve...,5.0,Creative Data Resources\n5.0,"New York, NY","New York, NY",1 to 50 employees,1992,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,-1,77,132,104.5
510,510,Data Analyst Junior,$30K-$54K (Glassdoor est.),Job Description\nJob description\nInterpret da...,5.0,"Staffigo Technical Services, LLC\n5.0","Gainesville, FL","Woodridge, IL",51 to 200 employees,2008,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),-1,-1,30,54,42.0

In [12]:
# company parsing
salary_df_v1['Rating'].value_counts()

-1.0    130
 3.6     70
 4.0     59
 3.8     58
 5.0     58
 3.9     56
 3.7     55
 3.5     53
 3.2     49
 3.4     49
 3.3     47
 3.1     38
 4.1     37
 3.0     34
 4.3     19
 4.5     17
 4.2     17
 2.9     17
 4.8     15
 4.6     15
 2.7     14
 2.5     13
 4.7     13
 4.4     13
 2.8     13
 4.9     11
 1.0      9
 2.4      5
 2.0      5
 2.6      3
 2.1      3
 2.3      3
 2.2      2
 1.7      1
Name: Rating, dtype: int64

In [13]:
salary_df_v1['company_txt']=salary_df_v1.apply(lambda x: x['Company Name'] if x['Rating'] <0 else x['Company Name'][:-3],axis=1 )

In [14]:
salary_df_v1.head()
salary_df_v1.shape

(1001, 20)

In [15]:
#state the job is in
salary_df_v1['state']=salary_df_v1['Location'].apply(lambda x: x.split(',')[1])

In [16]:
salary_df_v1['same_state']=salary_df_v1.apply(lambda x: 1 if x.Location == x.Headquarters else 0 ,axis=1)

In [17]:
salary_df_v1.Founded.dtypes

dtype('int64')

In [18]:
salary_df_v1['company_age']=salary_df_v1.Founded.apply(lambda x: x if x<1 else 2021-x)

In [20]:
salary_df_v1['Job Description'][0]

"Are you eager to roll up your sleeves and harness data to drive policy change? Do you enjoy sifting through complex datasets to illuminate trends and insights? Do you see yourself working for a values-driven organization with a vision to tackle the most pressing injustices of our day?\n\nWe are looking to hire a bright, hard-working, and creative individual with strong data management skills and a demonstrated commitment to immigrant's rights. The Data Analyst will assist with analysis and reporting needs for Veras Center on Immigration and Justice (CIJ), working across its current projects and future Vera initiatives.\n\nWho we are:\n\nFounded in 1961, The Vera Institute is an independent, non-partisan, nonprofit organization that combines expertise in research, technical assistance, and demonstration projects to assist leaders in government and civil society examine justice policy and practice, and improve the systems people rely on for justice and safety.\nWe study problems that impede human dignity and justice.\nWe pilot solutions that are at once transformative and achievable.\nWe engage diverse communities in informed debate.\nAnd we harness the power of evidence to drive effective policy and practice\nWhat were doing:\n\nWe are helping to build a movementamong government leaders, advocates, and the immigration legal services communitytowards universal legal representation for immigrants facing deportation. In the face of stepped-up immigration enforcement, millions of non-citizens are at risk of extended detention and permanent separation from their families and communities. Veras Center on Immigration and Justice (CIJ) partners with government, non-profit partners, and communities to improve government systems that affect immigrants and their families. CIJ administers several nationwide legal services programs for immigrants facing deportation, develops and implements pilot programs, provides technical assistance, and conducts independent research and evaluation.\n\nThats where you come in:\nThe Data Analyst will support the Centers programmatic efforts through regular monitoring and reporting of federal government and subcontractor data. CIJ manages several proprietary databases that run on AWS and Caspio and uses SQL, R, and Python to manage data. This is an opportunity to help shape an innovative national research and policy agenda as part of a dedicated team of experts working to improve access to justice for non-citizens.\n\nVera seeks to hire a Data Analyst to work on various data management projects with its Center on Immigration and Justice (CIJ). In collaboration with other Data Analysts, this position will involve work across several projects, such as the Unaccompanied Childrens Program (UCP), a program to increase legal representation for immigrant children facing deportation without a parent or legal guardian. The position may cover additional duties for the Legal Orientation Program for Custodians (LOPC), which educates the custodians of unaccompanied children about their rights and the immigration court process.\n\nAbout the role:\n\nAs a Data Analyst, you will report to a member of the research team and work in close collaboration with other Vera staff on ongoing database management, monitoring, reporting, and analysis projects. Youll support the team by taking ownership of ongoing monitoring and reporting tasks involving large data sets. Other principal responsibilities will include:\nSupporting research staff by preparing large datasets for analysis, including merging, cleaning, and recoding data;\nProviding insights into program performance through summary statistics and performance indicators;\nProducing timely reports on Vera projects for team members and stakeholders;\nImproving recurring reporting processes by optimizing code and producing subsequent documentation;\nCoordinating database management tasks such as participating in new database design, modifying existing databases, and communicating with outside engineers and subcontractors;\nDeveloping codebooks and delivering user trainings through webinars and database guides;\nBuilding and maintaining interactive dashboards;\nDocumenting and correcting data quality issues;\nWorking with supervisors to prioritize program needs;\nAssisting on other projects and tasks as assigned.\nAbout you:\n\nYoure committed to improving issues affecting immigrants in the United States. Applicants with personal experiences with the immigration system are especially encouraged to apply.\n\nYoure just getting started in your career and have 1 2 years of professional or internship experience working with large datasets and preparing data for analysis.\n\nYou have a real enthusiasm for working with data.\n\nYou are comfortable writing queries in SQL, R, and/or Python, or have a solid foundation coding in other programming languages used to manipulate data. Experience working collaboratively using tools like Git/GitHub is a plus.\n\nYou have exceptional attention to detail, strong problem-solving ability and logical reasoning skills, and the ability to detect anomalies in data.\n\nYoure able to work on multiple projects effectively and efficiently, both independently and collaboratively with a team.\n\nThis position involves working with secure data that may require government security clearance. That clearance is restricted to U.S. citizens and citizens of countries that are party to collective defense agreements with the U.S. The list of those countries is detailed on this webpage. An additional requirement of that clearance is residence in the United States for at least three of the last five years.\n\nHow to apply:\n\nPlease submit cover letter and resume. Applications will be considered on a rolling basis until position is filled. Online submission in PDF format is preferred. Applications with no cover letter attached will not be considered. The cover letter should address your interest in CIJ and this position.\n\nHowever, if necessary, materials may be mailed or faxed to\n\nATTN: Human Resources / CIJ Data Analyst Recruitment\n\nVera Institute of Justice\n\n34 35th St, Suite 4-2A\n\nBrooklyn, NY 11232\n\nFax: (212) 941-9407\n\nPlease use only one method (online, mail or fax) of submission.\n\nNo phone calls, please. Only applicants selected for interviews will be contacted.\n\nVera is an equal opportunity/affirmative action employer. All qualified applicants will be considered for employment without unlawful discrimination based on race, color, creed, national origin, sex, age, disability, marital status, sexual orientation, military status, prior record of arrest or conviction, citizenship status, current employment status, or caregiver status.\n\nVera works to advance justice, particularly racial justice, in an increasingly multicultural country and globally connected world. We value diverse experiences, including with regard to educational background and justice system contact, and depend on a diverse staff to carry out our mission.\n\nFor more information about Vera and CIJs work, please visit www.vera.org.\n\nPowered by JazzHR"

In [25]:
# parsing out job description

    #python
salary_df_v1['python']=salary_df_v1['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)
#salary_df_v1['python'].value_counts()

    #sql
salary_df_v1['sql']=salary_df_v1['Job Description'].apply(lambda x: 1 if 'sql' in x.lower() else 0)
#salary_df_v1['sql'].value_counts()

   #r
salary_df_v1['r']=salary_df_v1['Job Description'].apply(lambda x: 1 if 'r' in x.lower() or 'r studio' in x.lower() or 'r-studio' else 0)
#salary_df_v1['r'].value_counts()

    #aws
salary_df_v1['aws']=salary_df_v1['Job Description'].apply(lambda x: 1 if 'sql' in x.lower() else 0)
#salary_df_v1['aws'].value_counts()

0    700
1    301
Name: python, dtype: int64

In [26]:
salary_df_v1.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors',
       'Easy Apply', 'min_salary', 'max_salary', 'avg_clean', 'company_txt',
       'state', 'same_state', 'company_age', 'python', 'sql', 'r', 'aws'],
      dtype='object')

In [27]:
salary_out=salary_df_v1.drop(['Unnamed: 0'],axis=1)
salary_out.to_csv('clean_df',index=False)