In [1]:
import pandas as pd
salary_df_path ='C:/Users/Neo4ever/Desktop/da_salary/DataAnalyst.csv' #downloaded form kaggle
salary_df= pd.read_csv(salary_df_path)
salary_df.shape

(2253, 16)

In [2]:
# salary parsing
salary_df_v1 = salary_df.iloc[:1001]

salary_df_v1.columns
salary_df_v1=salary_df_v1.sort_values(by='Rating', ascending=False)

salary_df_v1.head()

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply
833,833,Data Analyst Junior,$42K-$76K (Glassdoor est.),Job Description\nJob description\nInterpret da...,5.0,"Staffigo Technical Services, LLC\n5.0","Chicago, IL","Woodridge, IL",51 to 200 employees,2008,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
505,505,Junior Data Analyst,$30K-$54K (Glassdoor est.),Job Description\nJob description\nInterpret da...,5.0,"Staffigo Technical Services, LLC\n5.0","Gainesville, FL","Woodridge, IL",51 to 200 employees,2008,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),-1,-1
925,925,Data Warehouse Analyst,$47K-$76K (Glassdoor est.),Job description:\nWorking within IT to transla...,5.0,Purity Technology LLC\n5.0,"Houston, TX","Cypress, TX",1 to 50 employees,-1,Company - Private,-1,-1,Unknown / Non-Applicable,-1,-1
356,356,Quantitative Data Analyst/Developer,$77K-$132K (Glassdoor est.),Job Description Quantitative Data Analyst/Deve...,5.0,Creative Data Resources\n5.0,"New York, NY","New York, NY",1 to 50 employees,1992,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,-1
510,510,Data Analyst Junior,$30K-$54K (Glassdoor est.),Job Description\nJob description\nInterpret da...,5.0,"Staffigo Technical Services, LLC\n5.0","Gainesville, FL","Woodridge, IL",51 to 200 employees,2008,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),-1,-1

In [3]:
salary_df_v1['Salary Estimate'].value_counts()

$43K-$76K (Glassdoor est.)      31
$60K-$110K (Glassdoor est.)     30
$60K-$66K (Glassdoor est.)      30
$42K-$76K (Glassdoor est.)      30
$46K-$87K (Glassdoor est.)      30
$42K-$66K (Glassdoor est.)      30
$59K-$85K (Glassdoor est.)      30
$51K-$88K (Glassdoor est.)      30
$98K-$114K (Glassdoor est.)     30
$97K-$129K (Glassdoor est.)     30
$51K-$87K (Glassdoor est.)      30
$43K-$69K (Glassdoor est.)      30
$37K-$66K (Glassdoor est.)      30
$27K-$52K (Glassdoor est.)      30
$73K-$82K (Glassdoor est.)      29
$41K-$78K (Glassdoor est.)      29
$53K-$94K (Glassdoor est.)      29
$67K-$92K (Glassdoor est.)      29
$77K-$132K (Glassdoor est.)     29
$65K-$81K (Glassdoor est.)      29
$113K-$132K (Glassdoor est.)    29
$57K-$103K (Glassdoor est.)     29
$26K-$47K (Glassdoor est.)      29
$55K-$103K (Glassdoor est.)     29
$29K-$38K (Glassdoor est.)      29
$37K-$70K (Glassdoor est.)      29
$74K-$123K (Glassdoor est.)     28
$35K-$45K (Glassdoor est.)      28
$47K-$76K (Glassdoor est.)      28
$42K-$74K (Glassdoor est.)      27
$48K-$96K (Glassdoor est.)      22
$49K-$112K (Glassdoor est.)     18
$84K-$90K (Glassdoor est.)      18
$68K-$87K (Glassdoor est.)      16
$73K-$127K (Glassdoor est.)     14
$45K-$88K (Glassdoor est.)      11
$30K-$54K (Glassdoor est.)       8
$42K-$63K (Glassdoor est.)       4
$31K-$59K (Glassdoor est.)       4
$47K-$81K (Glassdoor est.)       3
$46K-$102K (Glassdoor est.)      3
Name: Salary Estimate, dtype: int64

In [8]:
salary=salary_df_v1['Salary Estimate'].apply(lambda x: x.split('(')[0])

In [9]:
salary.head()

833     $42K-$76K
505     $30K-$54K
925     $47K-$76K
356    $77K-$132K
510     $30K-$54K
Name: Salary Estimate, dtype: object

In [10]:
salary.shape

(1001,)

In [19]:
salary_clean=salary.apply(lambda x: x.replace('$','').replace('K',''))

In [23]:
salary_clean.value_counts()

43-76       31
43-69       30
98-114      30
27-52       30
37-66       30
60-66       30
46-87       30
59-85       30
42-76       30
51-88       30
60-110      30
51-87       30
42-66       30
97-129      30
67-92       29
29-38       29
53-94       29
41-78       29
77-132      29
113-132     29
26-47       29
55-103      29
73-82       29
65-81       29
37-70       29
57-103      29
47-76       28
35-45       28
74-123      28
42-74       27
48-96       22
84-90       18
49-112      18
68-87       16
73-127      14
45-88       11
30-54        8
42-63        4
31-59        4
46-102       3
47-81        3
Name: Salary Estimate, dtype: int64

In [26]:
salary_df_v1['min_salary']=salary_clean.apply(lambda x: int(x.split('-')[0]))
salary_df_v1['max_salary']=salary_clean.apply(lambda x: int(x.split('-')[1]))

In [27]:
salary_df_v1['avg_clean']=(salary_df_v1.min_salary+salary_df_v1.max_salary)/2